@font-face {
  font-family: fira-code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/fira-code/fira-code.woff2") format("woff2");
}

@import "tailwindcss";

@theme {
  --font-fira-code: "fira-code";

  --color-background: #12161E; 
  --color-background-box: #181B25; 
  --color-overlay: #00000080; 

  --color-text-title: #fff;
  --color-text-primary: hsla(0, 0%, 100%, 0.87);
  --color-text-secondary: hsla(0, 0%, 100%, 0.56);

  --color-error: #e05661;
  --color-success: #238C61; 
  --color-warning: #facc15;

  --color-btn-primary: #4f46e5;
  --color-btn-primary-hover: #4338ca;
  --color-btn-secondary: #2e2f4b;
  --color-btn-secondary-hover: #3c3d60;

  --color-border-input: hsla(0, 0%, 100%, 0.24);
  --color-border-menu: hsla(0, 0%, 100%, 0.12);
  --color-border-box: hsla(0, 0%, 100%, 0.08);
  --color-border-hr: #2c2c30;


  --breakpoint-lg: initial;
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;

  --animate-animate-slide-in: slide-in 0.5s ease-out;
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  --animate-animate-slide-out: slide-out 0.5s ease-out forwards;
  @keyframes slide-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-animate-fade-in: fade-in 0.3s ease-out forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  --animate-animate-fade-out: fade-out 0.2s ease-out forwards;
  @keyframes fade-out {
    form {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

}